<h3>Manage Products:</h3>
<div class="ml-3 mr-3 mt-3 pb-3">
    <a class="btn btn-success mb-3" routerLink="./newproduct">Add</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center align-middle">Id</th>
                <th class="align-middle">Title</th>
                <th class="text-center align-middle">Quantity in stock</th>
                <th class="text-center align-middle">Price</th>
                <th class="text-center align-middle">Description</th>
                <th class="text-center align-middle">Category</th>
                <th class="text-center align-middle">Type</th>
                <th class="text-center align-middle">Manufacturer</th>
                <th class="text-center align-middle">Size</th>
                <th class="text-center align-middle">Color</th>
                <th class="text-center align-middle">Material(s)</th>
                <th class="text-center align-middle">Discount, %</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td class="text-center">{{product.quantityInStock}}</td>
                <td class="text-center">{{product.price}}</td>
                <td class="text-center">{{product.description}}</td>
                <td class="text-center">{{product.category.name}}</td>
                <td class="text-center">{{product.type.name}}</td>
                <td class="text-center">{{product.manufacturer.name}}</td>
                <td class="text-center">{{product.size.name}}</td>
                <td class="text-center">{{product.color.name}}</td>
                <td class="text-center">
            <tr *ngFor="let material of product.materials">{{material.name}}</tr>
            </td>
            <td class="text-center">{{product.discount.discountValue}}</td>
            <td>
                <a class="btn btn-warning mb-3" routerLink="./{{product.id}}">Edit</a>
            </td>
            <td><input type="button" value="Delete" (click)="deleteProduct(product)" class="btn btn-danger" /></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-group">
    {{statusMessage}}
</div>