<p class="text-xs-center">Registration for access</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{ 'has-error' : form.get('email').touched && form.get('email').invalid }">
        <label for="email">Email</label>
        <input type="text" class="form-control underlined" id="email" placeholder="Enter your email"
            formControlName="email">
        <span class="form-help-text" *ngIf="form.get('email').invalid && form.get('email').touched">
            <span *ngIf="form.get('email')['errors']['required']">Email must not be empty.</span>
            <span *ngIf="form.get('email')['errors']['email']">Please enter a valid email</span>
        </span>

    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : form.get('password').touched && form.get('password').invalid }">
        <label for="password">Password</label>
        <input type="password" class="form-control underlined" id="password" placeholder="Enter password"
            formControlName="password">
        <span class="form-help-text" *ngIf="form.get('password').touched && form.get('password').invalid">
            <span *ngIf="form.get('password')['errors']['required']">Password must not be empty.</span>
            <span
                *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
                Password must be greater than or equal to
                {{form.get('password')['errors']['minlength']['requiredLength']}} characters. Now
                {{form.get('password')['errors']['minlength']['actualLength']}} characters.</span>
        </span>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error' : form.get('username').touched && form.get('username').invalid }">
        <label for="username">Username</label>
        <input type="text" class="form-control underlined" id="username" placeholder="Enter your username"
            formControlName="username">
        <span class="form-help-text" *ngIf="form.get('username').touched && form.get('username').invalid">
            Username must not be empty.
        </span>
    </div>
    <div class="form-group">
        <label for="agree">
            <input class="checkbox" id="agree" type="checkbox" formControlName="agree">
            <span>I agree with the rules</span>
        </label>
    </div>

    <div class="form-group">
        <div class="alert alert-{{message.type}}" *ngIf="form.valid && message.text">
            {{ message.text }}
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">Register now</button>
    </div>
    <div class="form-group">
        <p class="text-muted text-xs-center">
            Already have an account?
            <a class="nav-link" (click)="doTransitionToLogForm()">
                Enter!
            </a>
        </p>
    </div>
</form>