<h3>Adding a product:</h3>
<fieldset class="pt-3 pl-5 pr-5">
    <div class="row">
        <div class="col-8">
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" type="text" name="name" [(ngModel)]="product.name" #productName="ngModel"
                    placeholder="Product Name...">
            </div>
            <div class="form-group">
                <label>Category:</label>
                <select class="form-control" name="category" [ngModel]="product.category" #productCategory="ngModel">
                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Type:</label>
                <select class="form-control" name="type" [ngModel]="product.type" #productType="ngModel">
                    <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Manufacturer:</label>
                <select class="form-control" name="manufacturer" [(ngModel)]="product.manufacturer"
                    #productManufacturer="ngModel">
                    <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
                        {{manufacturer.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Material:</label>
                <div *ngFor="let material of materials">
                    <input type="checkbox"
                        (change)="onChange(material.id, material.name, $event.target.checked)">{{material.name}}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Color:</label>
                <select class="form-control" name="color" [(ngModel)]="product.color" #productColor="ngModel">
                    <option *ngFor="let color of colors" [value]="color.id">{{color.name}}</option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Size:</label>
                <select class="form-control" name="size" [(ngModel)]="product.size" #productSize="ngModel">
                    <option *ngFor="let size of sizes" [value]="size.id">{{size.name}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Quantity in stock:</label>
                <input class="form-control" type="number" name="quantityInStock" [(ngModel)]="product.quantityInStock"
                    #productQuantityInStock="ngModel" placeholder="Quantity of products in stock ...">
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Discount:</label>
                <select class="form-control" name="discount" [(ngModel)]="product.discount" #productDiscount="ngModel">
                    <option *ngFor="let discount of discounts" [value]="discount.id">{{discount.discountValue}}
                    </option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>Price:</label>
                <input class="form-control" type="number" name="price" [(ngModel)]="product.price"
                    #productPrice="ngModel" placeholder="The price of the product...">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" name="description" [(ngModel)]="product.description"
            #productDescription="ngModel" placeholder="Product description..."></textarea>
    </div>

    <div class="row">
        <div class="col">
            <input type="button" value="Save" (click)="saveProduct(productName, productCategory, productType, productManufacturer, 
                    productColor, productSize, productQuantityInStock, productDiscount, 
                    productPrice, productDescription)" class="btn btn-success" />
        </div>
        <div class="col">
            <a class="btn btn-warning mb-3" routerLink="../">Cancel</a>
        </div>
    </div>

    <div class="form-group">
        {{statusMessage}}
    </div>
</fieldset>