<h3>Manage Sizes:</h3>
<div class="ml-3 mr-3 mt-3">
  <input type="button" value="Add" class="btn btn-success mb-3" (click)="addSize()" />
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Size</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let size of sizes">
        <ng-template [ngTemplateOutlet]="loadTemplate(size)" [ngTemplateOutletContext]="{ $implicit: size}">
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div>{{statusMessage}}</div>

  <!--template for reading-->
  <ng-template #readOnlyTemplate let-size>
    <td>{{size.id}}</td>
    <td>{{size.name}}</td>
    <td>
      <input type="button" value="Edit" class="btn btn-warning" (click)="editSize(size)" />
    </td>
    <td>
      <input type="button" value="Delete" (click)="deleteSize(size)" class="btn btn-danger" />
    </td>
  </ng-template>

  <!--template for editing-->
  <ng-template #editTemplate>
    <td>
      <input type="text" [(ngModel)]="editedSize.id" readonly disabled class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedSize.name" class="form-control" />
    </td>
    <td>
      <input type="button" value="Save" (click)="saveSize()" class="btn btn-success" />
    </td>
    <td>
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
  </ng-template>
</div>