<h3>Manage Categories:</h3>
<div class="ml-3 mr-3 mt-3">
  <input type="button" value="Add" class="btn btn-success mb-3" (click)="addCategory()" />
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <ng-template [ngTemplateOutlet]="loadTemplate(category)" [ngTemplateOutletContext]="{ $implicit: category}">
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div>{{statusMessage}}</div>

  <!--template for reading -->
  <ng-template #readOnlyTemplate let-category>
    <td>{{category.id}}</td>
    <td>{{category.name}}</td>
    <td>
      <input type="button" value="Edit" class="btn btn-warning" (click)="editCategory(category)"/>
    </td>
    <td>
      <input type="button" value="Delete" (click)="deleteCategory(category)" class="btn btn-danger"/>
    </td>
  </ng-template>

  <!--template for editing-->
  <ng-template #editTemplate>
    <td>
      <input type="text" [(ngModel)]="editedCategory.id" readonly disabled class="form-control"/>
    </td>
    <td>
      <input type="text" [(ngModel)]="editedCategory.name" class="form-control"/>
    </td>
    <td>
      <input type="button" value="Save" (click)="saveCategory()" class="btn btn-success"/>
    </td>
    <td>
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning"/>
    </td>
  </ng-template>
</div>