<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a routerLink="./category" class="list-group-item list-group-item-action">Категории</a>
            <a routerLink="./type" class="list-group-item list-group-item-action">Типы</a>
            <a routerLink="./color" class="list-group-item list-group-item-action">Цвета</a>
            <a routerLink="./manufacturer" class="list-group-item list-group-item-action">Производители</a>
            <a routerLink="./material" class="list-group-item list-group-item-action">Материалы</a>
            <a routerLink="./size" class="list-group-item list-group-item-action">Размеры</a>
            <a routerLink="./discount" class="list-group-item list-group-item-action">Скидки</a>
            <a routerLink="./product" class="list-group-item list-group-item-action">Продукты</a>
        </div>
    </div>
    <div class="col-9">

        <router-outlet></router-outlet>

    </div>

    <div class="col-1"></div>

</div>