<div class="container-fluid pt-1">
    <div>
        <a class="btn btn-secondary btn-lg mr-3" routerLink="./product">Товары</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./category">Категории</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./type">Типы</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./color">Цвета</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./manufacturer">Производители</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./material">Материалы</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./size">Размеры</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./discount">Скидки</a>
    </div>
</div>

<div class="container-float mt-3 ml-5 mr-5 pt-3">
    <router-outlet></router-outlet>
</div>
