<div class="container-fluid pt-1">
    <div>
        <a class="btn btn-secondary btn-lg mr-3" routerLink="./product">Products</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./category">Categories</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./type">Types</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./color">Colors</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./manufacturer">Manufacturers</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./material">Materials</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./size">Sizes</a>

        <a class="btn btn-secondary btn-lg mr-3" routerLink="./discount">Discounts</a>
    </div>
</div>

<div class="container-float mt-3 ml-5 mr-5 pt-3">
    <router-outlet></router-outlet>
</div>
