<h3>Manage Materials:</h3>
<div class="ml-3 mr-3 mt-3">
  <input type="button" value="Add" class="btn btn-success mb-3" (click)="addMaterial()" />
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materials">
        <ng-template [ngTemplateOutlet]="loadTemplate(material)" [ngTemplateOutletContext]="{ $implicit: material}">
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div>{{statusMessage}}</div>

  <!--template for reading -->
  <ng-template #readOnlyTemplate let-material>
    <td>{{material.id}}</td>
    <td>{{material.name}}</td>
    <td>
      <input type="button" value="Edit" class="btn btn-warning" (click)="editMaterial(material)" />
    </td>
    <td>
      <input type="button" value="Delete" (click)="deleteMaterial(material)" class="btn btn-danger" />
    </td>
  </ng-template>

  <!--template for editing-->
  <ng-template #editTemplate>
    <td>
      <input type="text" [(ngModel)]="editedMaterial.id" readonly disabled class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedMaterial.name" class="form-control" />
    </td>
    <td>
      <input type="button" value="Save" (click)="saveMaterial()" class="btn btn-success" />
    </td>
    <td>
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
  </ng-template>
</div>