<h3>Manage Discounts:</h3>
<div class="ml-3 mr-3 mt-3">
  <input type="button" value="Add" class="btn btn-success mb-3" (click)="addDiscount()" />
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Discount value %</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let discount of discounts">
        <ng-template [ngTemplateOutlet]="loadTemplate(discount)" [ngTemplateOutletContext]="{ $implicit: discount}">
        </ng-template>
      </tr>
    </tbody>
  </table>
  <div>{{statusMessage}}</div>

  <!--template for reading -->
  <ng-template #readOnlyTemplate let-discount>
    <td>{{discount.id}}</td>
    <td>{{discount.discountValue}}</td>
    <td>
      <input type="button" value="Edit" class="btn btn-warning" (click)="editDiscount(discount)" />
    </td>
    <td>
      <input type="button" value="Delete" (click)="deleteDiscount(discount)" class="btn btn-danger" />
    </td>
  </ng-template>

  <!--template for editing-->
  <ng-template #editTemplate>
    <td>
      <input type="text" [(ngModel)]="editedDiscount.id" readonly disabled class="form-control" />
    </td>
    <td>
      <input type="text" [(ngModel)]="editedDiscount.discountValue" class="form-control" />
    </td>
    <td>
      <input type="button" value="Save" (click)="saveDiscount()" class="btn btn-success" />
    </td>
    <td>
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </td>
  </ng-template>
</div>